// compile command:
// sass --watch sass/styles.scss:styles.css
@import "variables";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0;
}

// PAGES
h1 {
    color: $primaryBrandColor;
}

.container {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-gap: 5%;
}

.col {
    justify-self: center;
}